@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    M_U_Alim_Madrasa<br />
    Ashulia Uttar GazirChat,Madrasha Road<br />
    
</address>

<address>
    <strong>Email:</strong>M_U_Alim_Madrasa@gmail.com<br />
    <strong>Phone:</strong>01717493735<br />

</address>
